
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Dommatos SAS</title>

  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <meta name="description" content="Dommatos">
  <link rel="shortcut icon" type="image/x-icon" href="./assets/iconDommatos.png">
  <meta property="og:site_name" content="Dommatos">
  <meta property="og:title" content="Dommatos">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Dommatos">
  <meta property="og:image" content="https://dommatos.com/">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="og:image:width" content="1280">
  <meta property="og:image:height" content="800">
  <meta property="og:url" content="https://dommatos.com/">
  <meta property="twitter:card" content="summary_large_image">
  <link rel="canonical" href="https://dommatos.com">

  <noscript>
      <style>
          body {
              overflow: auto !important;
          }

          #main {
              opacity: 1.0 !important;
              transform: none !important;
              transition: none !important;
              filter: none !important;
          }

          #main>.inner>section>* {
              opacity: 1.0 !important;
              transform: none !important;
              transition: none !important;
              filter: none !important;
          }
      </style>

  </noscript>
  <style></style>

</head>

<body class="is-playing">
  <div id="wrapper">
      <div id="main">
          <div class="inner">
              <section id="home-section" class="active">
                  <div id="container02" class="container columns full screen">
                      <div class="wrapper">
                          <div class="inner">
                              <div>
                                  <div id="image36" class="image"><span class="frame"><img
                                              src="./assets/iconDommatos.png" sizes="100*100" alt=""></span>
                                  </div>
                              </div>
                              <div>
                                  <ul id="buttons02" class="buttons">
                                      <li><a href="" class="button n01">Iniciar</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div id="container13" class="container default full screen">
                      <div class="wrapper">
                          <div class="inner">
                              <h3 id="text10" class="style1">Domotica - Telecomunicaciones - Desarrollo</h3>
                              <h1 id="text12" class="style4">Dommatos SAS</h1>
                              <p id="text13">Compañia de desarrollo y telecomunicaciones.</p>
                              <ul id="buttons01" class="style1 buttons">
                                  <li><a href="" class="button n01"><svg>
                                              <use xlink:href="#icon-b46"></use>
                                          </svg><span class="label">Contactenos</span></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div id="container11" class="container columns full screen">
                      <div class="wrapper">
                          <div class="inner">
                              <div>
                                  <hr id="divider02" class="style1">
                                  <h2 id="text09" class="style3">Quienes Somos!!</h2>
                                  <p id="text18" class="style2">Somos una Compañia dedicada al servicio de redes y
                                      telecomunicaciones como proveedores de ISP acompañada del desarrollo de
                                      aplicaciones móviles y web.
                                      <br>
                                      Garantizando el mejor servicio a nuestros clientes.
                                  </p>

                              </div>

                              <div>
                                  <div id="image07" class="image"><span class="frame deferred"
                                          style="background-image: none; background-size: 100% 100%; background-position: left top; background-repeat: no-repeat;"><img
                                              src="./assets/favicon.png" data-src="done" alt=""
                                              style="opacity: 1;"></span></div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <h2 id="text09" class="style4" style="text-align: center;">Servicios</h2>
                  <br>
                  <br>
                  <br>
                  <br>
                  <div id="container10" class="container columns full screen">

                      <div class="wrapper">
                          <div class="inner">
                              <div>
                                  <div id="image01" class="style1 image"><span class="frame"><img
                                              src="./assets/image01.png" alt=""></span></div>
                                  <h3 id="text08" class="style5">Internet y Televisión</h3>
                                  <p id="text59" class="style2">Disfruta de conectividad y servicios de entretenimiento con planes de Internet y Televisión Hogar.</p>
                              </div>
                              <div>
                                  <div id="image09" class="style1 image"><span class="frame"><img
                                              src="./assets/Imagen02.png" alt=""></span></div>
                                  <h3 id="text02" class="style5">Aplicaciones Móviles</h3>
                                  <p id="text61" class="style2">Haz crecer tu negocio con APPS para tiendas IOS - Android y Huawei.</p>
                              </div>
                              <div>
                                  <div id="image08" class="style1 image"><span class="frame"><img
                                              src="./assets/image03.png" alt=""></span></div>
                                  <h3 id="text74" class="style5">Aplicaciones Web</h3>
                                  <p id="text77" class="style2">Expande y da a conocer tu negocio con aplicaciones y paginas Web.</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div id="container10" class="container columns full screen">
                      <div class="wrapper">
                          <div class="inner">
                              <div>
                                  <div id="image14" class="style1 image"><span class="frame"><img
                                              src="./assets/image04.png" alt="chatbot"></span></div>
                                  <h3 id="text11" class="style5">Chatbots</h3>
                                  <p id="text26" class="style2">Apoyamos tu nivel de servicio con chats autónomos tanto en Telegram como Whatsapp.</p>
                              </div>
                              <div>
                                  <div id="image03" class="style1 image"><span class="frame"><img
                                              src="./assets/image05.png" alt=""></span></div>
                                  <h3 id="text05" class="style5">Venta de Mercancias</h3>
                                  <p id="text19" class="style2">Cotiza y adquiere los equipos que necesita tu negocio.</p>
                              </div>
                              <div>
                                  <div id="image16" class="style1 image"><span class="frame"><img
                                              src="./assets/image06.png" alt=""></span></div>
                                  <h3 id="text07" class="style5">Circuitos Cerrados</h3>
                                  <p id="text06" class="style2">Te brindamos la seguridad en linea 7/24, con sensores y circuitos cerrados de televisión.
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div id="container16" class="container columns full screen">
                      <div class="wrapper">
                          <div class="inner">
                              <div class="before-spacer">
                                  <hr id="divider03" class="style1">
                                  <h2 id="text85" class="style3">Nuestros Partners</h2>
                                  <p id="text86" class="style2">Nuestros aliados estrategicos, los cuales invitamos a conocer</p>
                              </div><span></span>
                          </div>
                      </div>
                  </div>
                  <div id="container14" class="container columns full screen">
                      <div class="wrapper">
                          <div class="inner">
                              <div style="text-align: center;">
                                  <div id="image18" class="style2 image"><span class="frame"><img
                                              src="./assets/Deliagro.PNG" alt="DeliAgro"></span></div>
                                              <br/><br><br>
                                  <h3 id="text60" class="style5">DeliAgro</h3>
                                  <p id="text84" class="style2">StartUp Dedicada a impulsar el E-Commerce de Nuestros Campesinos</p>
                                  <ul id="links02" class="style1 links">
                                      <li class="n01"><a href="">DeliAgro</a></li>
                                  </ul>
                              </div>
                              <div style="text-align: center;">
                                  <div id="image02" class="style2 image"><span class="frame"><img
                                              src="./assets/casaDeGatos.png" alt="Casa De Gatos"></span></div>
                                  <h3 id="text04" class="style5">Casa De Gatos</h3>
                                  <p id="text22" class="style2">StartUp Dedeicada al cuidado y alojamiento de tus Felinos cuando lo necesites</p>
                                  <ul id="links01" class="style1 links">
                                      <li class="n01"><a href="https://www.casadegatos.com.co/">Casa De Gatos</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div id="container07" class="container columns full screen">
                      <div class="wrapper">
                          <div class="inner">
                              <div class="before-spacer">
                                  <hr id="divider05" class="style1">
                                  <h2 id="text40" class="style3">Test de Velocidad</h2>
                                  <p id="text41" class="style2">Prueba la velocidad de tu internet</p>
                              </div><span></span>
                          </div>
                      </div>
                  </div>
                  <div id="container01" class="container columns full screen">
                      <div class="wrapper">
                          <div class="inner">
                              <div style="text-align: center;">
                                <h3 id="text31" class="style5">Test de Descarga</h3>
                                <a href="#" (click)="downloadSpeedTest()">
                                  <div id="image04" class="style1 image"><span class="frame"><img
                                              src="./assets/image10.svg" alt=""></span></div>
                                            </a>
                                  <h3 id="text16" class="style5">{{ downloadSpeed }}</h3>
                                  <p id="resultados-carga" class="style2"></p>
                              </div>
                              <div style="text-align: center;">
                                <h3 id="text31" class="style5">Test de Carga</h3>
                                <a onclick="testDeVelocidad()">
                                <div id="image10" class="style1 image"><span class="frame"><img
                                              src="./assets/image10.svg" alt=""></span></div>
                                            </a>
                                  <h3 id="text31" class="style5">{{ downloadSpeed }}</h3>
                                  <p id="resultados-descarga" class="style2"></p>
                              </div>

                          </div>
                      </div>
                  </div>
                  <div id="container03" data-scroll-id="pricing" data-scroll-behavior="previous"
                      data-scroll-offset="0" class="container columns full screen">
                      <div class="wrapper">
                          <div class="inner">
                              <div class="before-spacer">
                                  <hr id="divider04" class="style1">
                                  <h2 id="text107" class="style3">Precios</h2>
                                  <p id="text28" class="style2">Registra tus datos, en lo mas pronto nos estaremos contactando contigo, y cuentanos que deseas adquirir </p>
                              </div><span></span>
                          </div>
                      </div>
                  </div>
                  <div id="container09" class="container columns">
                      <div class="wrapper">
                          <div class="inner">
                              <div>
                                  <h3 id="text102" class="style1">Precios desde</h3>
                                  <h2 id="text104">$43.000.00</h2>
                                  <p id="text105" class="style2">Ofrecemos servicios de internet y/o televisión, con soporte en linea </p>
                                  <div id="list01" class="style1 list">
                                      <ul>
                                          <li>
                                              <p>Servicios de Internet</p>
                                          </li>
                                          <li>
                                              <p>Servcios de Televisión</p>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                              <div>
                                  <form id="form01" method="post">
                                      <div class="inner">
                                          <div class="field"><input type="text" name="name" id="form01-name"
                                                  placeholder="Nombre" maxlength="128" required=""></div>
                                          <div class="field"><input type="email" name="email" id="form01-email"
                                                  placeholder="Correo Eléctronico" maxlength="128" required=""></div>
                                          <div class="field" style="display: block;"><input type="text" name="post"
                                                  id="form01-post" placeholder="Post" maxlength="128" >
                                          </div>
                                          <div class="field"><textarea data-gramm_editor="false" name="message"
                                                  id="form01-message" placeholder="Describe tus dudas..."
                                                  maxlength="16384" required=""></textarea></div>
                                          <div class="actions"><button type="submit"><svg>
                                                      <use xlink:href="#icon-b46"></use>
                                                  </svg><span class="label">Contactanos</span></button></div>
                                      </div><input type="hidden" name="id" value="form01">
                                  </form>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div id="container12" class="container default full screen">
                      <div class="wrapper">
                          <div class="inner">
                              <h2 id="text01" class="style4">Registra tu email</h2>
                              <p id="text03" class="style2">Recibe notificaciones a traves de correo eléctronico</p>
                              <form id="form03" method="post">
                                  <div class="inner">
                                      <div class="field"><input type="email" name="email" id="form03-email"
                                              placeholder="Email" maxlength="128" required=""></div>
                                      <div class="field" style="display: none;"><input type="text" name="page-url"
                                              id="form03-page-url" placeholder="Page Url" maxlength="128" disabled="">
                                      </div>
                                      <div class="actions"><button type="submit"><svg>
                                                  <use xlink:href="lang"></use>
                                              </svg><span class="label">Registrate</span></button></div>
                                  </div><input type="hidden" name="id" value="form03">
                              </form>
                              <ul id="icons02" class="style1 icons">
                                  <li><a class="n01" href=""><svg>
                                              <use xlink:href="#icon-914"></use>
                                          </svg><span class="label">Dribbble</span></a></li>
                                  <li><a class="n02" href=""><svg>
                                              <use xlink:href="#icon-910"></use>
                                          </svg><span class="label">Instagram</span></a></li>
                                  <li><a class="n03" href=""><svg>
                                              <use xlink:href="#icon-901"></use>
                                          </svg><span class="label">Email (alt)</span></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </section>
              <section id="signed-section" class="inactive" style="display: none;">
                  <div id="container15" class="container default full screen">
                      <div class="wrapper">
                          <div class="inner">
                              <h2 id="text14" class="style4">You're in!</h2>
                              <p id="text15" class="style2">Iaculis eu non diam phasellus vestibulum lorem sed risus
                                  ultricies. Dignissim suspendisse in est ante in. Nisi porta lorem mollis aliquam ut
                                  porttitor leo.</p>
                              <ul id="icons03" class="style1 icons">
                                  <li><a class="n01" href=""><svg>
                                              <use xlink:href="#icon-914"></use>
                                          </svg><span class="label">Dribbble</span></a></li>
                                  <li><a class="n02" href=""><svg>
                                              <use xlink:href="#icon-910"></use>
                                          </svg><span class="label">Instagram</span></a></li>
                                  <li><a class="n03" href=""><svg>
                                              <use xlink:href="#icon-901"></use>
                                          </svg><span class="label">Email (alt)</span></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </section>
              <section id="thank-you-section" class="inactive" style="display: none;">
                  <div id="container06" class="container default full screen">
                      <div class="wrapper">
                          <div class="inner">
                              <h2 id="text24" class="style4">Thank you!</h2>
                              <p id="text66" class="style2">I will get back to you as soon as possible.</p>
                              <ul id="icons01" class="style1 icons">
                                  <li><a class="n01" href=""><svg>
                                              <use xlink:href="carrd"></use>
                                          </svg><span class="label">Dribbble</span></a></li>
                                  <li><a class="n02" href=""><svg>
                                              <use xlink:href="#icon-910"></use>
                                          </svg><span class="label">Instagram</span></a></li>
                                  <li><a class="n03" href=""><svg>
                                              <use xlink:href="#icon-901"></use>
                                          </svg><span class="label">Email (alt)</span></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </section>
              <footer id="footer">
                  <div id="container08" class="container default full screen">
                      <div class="wrapper">
                          <div class="inner">
                              <p id="text58" class="style2">Copyright © 2022 Dommatos SAS Operating Company, SAS. Todos los derechos reservados.</p>
                          </div>
                      </div>
                  </div>
              </footer>
          </div>
      </div>
  </div>

</body>

<router-outlet></router-outlet>
